@font-face {
  font-family: cursedTimer; /* set name */
  src: url(/CursedTimerUlil-Aznm.ttf); /* url of the font */
}

body {
    margin: 0;
    text-align: center;
    background-color: #1B244A;
}

.container {
    display: flex;
    justify-content: space-around;
}

h3 {
    font-family: Verdana, sans-serif;
    color: white;
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 21px;
}

h2 {
    font-size: 90px;
    margin-top: 0px;
    margin-bottom: 26px;
    color: #F94F6D;
    background-color: black;
    padding: 0px 20px;
    border-radius: 5px;
    font-family: cursedTimer;
    width: 117px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    margin-top: 0px;
    font-family: cursedTimer;
    background-color: transparent;
    border-color: #9AABD8;
    color: #9AABD8;
    font-size: 18px;
    padding: 10px 8px 10px 8px;
    border-radius: 5px;
    
}

#startgame {
    margin-top: 30px;
    background-color: orange;
    color: black;
}
